@{
    ViewBag.Title = "Contact Us";
}

<style>
    address {
        padding: 26px;
        background-color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 36px;
    }
</style>
<address>
    One Black Bean<br />
    Detroit, MI 48226<br />
    <abbr title="Phone"> Phone:</abbr>
    313-224-7600
</address>

<address>
    <strong> Support:</strong> <a href="mailto:Support@Perk-UpCoffee.com"> Support@Perk-UpCoffee.com</a> <br />
    <strong> Marketing:</strong> <a href="mailto:Marketing@Perk-UpCoffee.com"> Marketing@Perk-UpCoffee.com.com</a>
</address>
